[Unit]
Description=Job Application Flask App
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/Job_Application
ExecStart=/usr/bin/python /home/ec2-user/Job_Application/app.py
Restart=always

[Install]
WantedBy=multi-user.target

